

@{
    ViewData["Title"] = "Data Handling";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <script>var Animals2 = []; </script>

    foreach (var datanode in Model)
    {

        <script>

            var animal = {
                id: "@datanode.id",
                name: "@datanode.name",
                species: "@datanode.species",
                latinname: "@datanode.latinSpeciesName",
                gender: "@datanode.gender",
                slogan: "@datanode.slogan"
            };
            Animals2.push(animal);         
            // Animals.push(animal);
        </script>

        

    }


}



<h2>Data Handling</h2>
<h3>This page fetches data from a back-end database, originally from a .csv file in the app's root folder. But Azure won't allow the app to read physical files so now the data is generated at runtime in the back-end and displayed here. The displayed data can be filtered with the textbox.</h3>
<div class="container">
        <div id="data"></div>
</div>







<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="@Url.Content("~/js/DataHandling.jsx")"></script>


